{% block content %}
    <footer class="flex flex-row justify-between items-center mt-auto text-gray-500 h-12 py-12 text-lg">
        <p>COPYRIGHT © 2020. Min Chul Roh, All rights reserved.</p>
        <div>
            <a href="https://peter-roh.github.io/" class="text-gray-500 no-underline"><i class="fas fa-home"></i></a>
            <a href="https://github.com/Peter-Roh" class="text-gray-500 no-underline"><i class="fab fa-github"></i></a>
        </div>
    </footer>
</body>
</html>
{% endblock content %}
