{% load static %}
{% block content %}
    <header>
        <div class="menu-bar">
            <div class="menu-bar__menu"><a href="{% url 'musics:main' %}">home</a></div>
            <div class="menu-bar__menu">discover</div>
            <div class="menu-bar__menu">genres</div>
            <div class="menu-bar__menu">my playlist</div>
            <div class="menu-bar__menu"><a href="{% url 'users:mypage' %}">my page</a></div>
        </div>
        <i class="fas fa-bars" id="bar-icon"></i>
        <div class="user__status">
            <!--if logged in show avatar and username else send user to login page -->
            <div class="login-box">
                {% if user.is_authenticated %}
                    {% if user.avatar %}
                        <img src="{{user.avatar.url}}" alt="user avatar" id="user__avatar">
                    {% elif user.profile_url %}
                        <img src="{{user.profile_url}}" alt="user avatar" id="user__avatar">
                    {% else %}
                        <img src="{% static 'images/profile_dummy.png' %}" alt="no avatar" id="user__avatar">
                    {% endif %}
                    <div class="user__username">{{user.username}}</div>
                    <a href="{% url 'users:logout' %}">
                        <i class="fas fa-door-open" title="Sign out"></i>
                    </a>
                {% else %}
                    <button class="login" onclick="location.href='{% url 'core:login' %}'">login</button>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="mobile__bar hidden" id="mobile__bar">
        <div class="mobile-bar__menu"><a href="{% url 'musics:main' %}">home</a></div>
        <div class="mobile-bar__menu">discover</div>
        <div class="mobile-bar__menu">genres</div>
        <div class="mobile-bar__menu">my playlist</div>
    </div>
    <script>
        openBar();
    </script>
{% endblock content %}
