{% block content %}
    <header>
        <div class="menu-bar">
            <div class="menu-bar__menu">discover</div>
            <div class="menu-bar__menu">genres</div>
            <div class="menu-bar__menu">my playlist</div>
            <div class="menu-bar__menu">my page</div>
        </div>
        <i class="fas fa-bars" id="bar-icon"></i>
        <div class="user__status">
            <!--if logged in show avatar and username else send user to login page -->
            <div class="login-box">
                {% if user.is_authenticated %}
                    <div>hi</div>
                {% else %}
                    <button class="login" onclick="location.href='{% url 'core:login' %}'">login</button>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="mobile__bar hidden" id="mobile__bar">
        <div class="mobile-bar__menu">discover</div>
        <div class="mobile-bar__menu">genres</div>
        <div class="mobile-bar__menu">my playlist</div>
        <div class="mobile-bar__menu">my page</div>
    </div>
{% endblock content %}
