.signup {
    height: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.signup .signup__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.signup .signup__box form #signup__button {
    max-width: 700px;
    min-width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.3), 0 3px 6px rgba(0, 0, 0, 0.03);
}
.signup .signup__box form #signup__button {
    font-family: 'Noto Serif', serif;
    background-color: #e74c3c;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.8), 0 3px 6px rgba(0, 0, 0, 0.08);
    margin: 30px auto;
}
.signup .signup__box form #signup__button:active {
    transform: scale(0.95);
}
.signup .signup__box form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#id_gender {
    max-width: 700px;
    min-width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.8), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin-bottom: 10px;
    text-indent: 40%;
}
#id_birthday_month, #id_birthday_day {
    min-width: 80px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.8), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin-right: 15px;
    margin-bottom: 10px;
    text-indent: 5px;
}
#id_birthday_day {
    min-width: 50px;
}
#id_birthday_year {
    min-width: 80px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.8), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin-bottom: 15px;
    text-indent: 5px;
}
@media (max-width: 800px) {
    .signup {
        margin-left: 1rem;
        margin-right: 1rem;
        overflow: auto;
    }
    .signup .signup__box {
        width: 300px;
    }
    .signup .signup__box form {
        margin-top: 2rem;
    }
    .signup .signup__box form label {
        width: 100%;
        display: inline-block;
    }
}
