@import "./partials/footer.css";
@import "./partials/header.css";
@import "./users/main.css";
@import "./users/signup.css";
@import "./musics/main.css";

body {
    display: flex;
    flex-direction: column;
    background-image: url('../images/symphony.png');
}
