@import "./partials/footer.css";
@import "./partials/header.css";
@import "./users/main.css";
@import "./users/signup.css";
@import "./musics/main.css";

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #f4f4f4;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #babac0;
    border: 1px solid #fff;
}
