footer {
    margin-left: 8rem;
    margin-right: 8rem;
    border: 0 solid #d2d6dc;
    border-top-width: 1px;
}
@media (max-width: 1000px) {
    footer {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
    }
}
