footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 0 solid #d2d6dc;
    border-top-width: 1px;
    padding-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: auto;
    font-size: 16px;
    color: #9fa6b2;
    font-family: 'Lora', serif;
}
footer a {
    text-decoration: none;
    color: #9fa6b2;
}
