header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 0 solid #d2d6dc;
    border-bottom-width: 1px;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}
.menu-bar {
    display: flex;
    justify-content: flex-start;
    flex: 3;
}
.user__status {
    display: flex;
    justify-content: flex-end;
}
.fa-bars {
    display: none;
}
.menu-bar .menu-bar__menu {
    text-transform: uppercase;
    color: #910A2A;
    font-weight: 600;
    display: flex;
    flex-shrink: 0;
    margin: 5px 5px;
    word-break: break-all;
    overflow: hidden;
}
.menu-bar .menu-bar__menu a,
.menu-bar .menu-bar__menu a:visited {
    text-decoration: none;
    color: #910A2A;
}
.menu-bar .menu-bar__menu a:hover {
    color: #1C1C1E;
}
.user__status .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif', serif;
}
#user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.user__status .login-box .user__username {
    color: #910A2A;
    font-weight: 600;
}
.user__status .login-box .login {
    background-color: #910A2A;
    color: #F2F2F7;
    font-size: 16px;
    font-weight: 600;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.6), 0 3px 6px rgba(0, 0, 0, 0.06);
}
.user__status .login-box .login:active {
    transform: scale(0.9);
}
.user__status .login-box .login:hover {
    background-color: #1C1C1E;
}
.user__status .login-box .fa-door-open {
    color: #f1c40f;
    widows: 30px;
    cursor: pointer;
}
.mobile__bar {
    display: none;
}
.user__modal {
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    background-color: white;
    width: 250px;
    height: 80px;
    border-radius: 8px;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05);
    line-height: 1.5;
    position: absolute;
    right: 8rem;
    top: 5rem;
}
.user__modal .modal__content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__modal .modal__content:hover {
    background-color: #F4F5F7;
}
.user__modal .modal__content,
.user__modal .modal__content:visited {
    text-decoration: none;
    color: #374151;
    font-size: 18px;
}
.user__modal.hidden {
    display: none;
}
@media (max-width: 1000px) {
    header {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .menu-bar {
        display: none;
    }
    .fa-bars {
        display: block;
        color: #9fa6b2;
        margin-left: 10px;
    }
    .mobile__bar {
        display: block;
        position: fixed;
        margin-top: 6.5rem;
        width: 100%;
    }
    #user__avatar {
        width: 30px;
        height: 30px;
    }
    .user__status .login-box .user__username {
        font-size: 16px;
    }
    .mobile__bar.hidden {
        display: none;
    }
    .mobile-bar__menu {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1rem;
        text-transform: uppercase;
        background-color: #f2f2f2;
        font-weight: 600;
        color: #910A2A;
    }
    .mobile__bar .mobile-bar__menu a,
    .mobile__bar .mobile-bar__menu a:visited {
        text-decoration: none;
        color: #910A2A;
    }
    .user__status {
        margin-left: auto;
    }
    .user__modal {
        right: 1rem;
    }
}
