{% extends "base.html" %}
{% block content %}
<div class="signup">
    <div class="signup__box">
        <p class="signup__text">Sign up!</p>
        <button class="btn" id="signup__google">
            <i class="fab fa-google"></i>
            Sign up with Google
        </button>
        <button class="btn" id="signup__facebook">
            <i class="fab fa-facebook-f"></i>
            Sign up with Facebook
        </button>
        <button class="btn" id="signup__button" onclick="location.href=''">Sign up!</button>
    </div>
</div>
{% endblock content %}
